<div class="spinner" *ngIf = "isLoading">
    <app-load-spinner ></app-load-spinner>
</div>
<div class="user-back"  *ngIf = "!isLoading">
    <div class="user-container">
        <div class="user-detail">
            <div class="titles">
                <h3>Name</h3>
                <h3>Username</h3>
                <h3>Email</h3>
                <h3 class="bigger">Address</h3>
                <h3>Phone</h3>
                <h3>Website</h3>
                <h3 class="bigger">Company</h3>
            </div>
        
            <div class="data">
                <p>{{ user.name }}</p>
                <p>{{ user.username }}</p>
                <p>{{ user.email }}</p>
                <div class="bigger" >
                    <div class="address">
                        <p>{{ user.address.city }}, {{ user.address.street }}, {{ user.address.suite }}</p>
                        <p><span>Zipcode: </span> {{ user.address.zipcode }}</p> 
                        <p><span>Geo: </span>lat({{ user.address.geo.lat }}), lng( {{user.address.geo.lng }})</p>
                    </div>
                     
                </div>
                <p>{{ user.phone }}</p>
                <p>{{ user.website }}</p>
                
                <div class="bigger">
                    <div class="company">
                        <p>{{ user.company.name }}</p>
                        <p>Catch phrase: {{ user.company.catchPhrase }}</p>
                        <p>Bs: {{ user.company.bs }} </p>
                    </div>
                </div>
            </div>
        
            
        </div>
        <div class="post-link">
            <a (click) = "showPosts = !showPosts">{{showPosts?  'Hide' : 'See'}} posts by {{ user.username }}</a>
        </div>
    </div>
</div>
<div class="posts-container" *ngIf = "showPosts">
    <p class="no-posts" *ngIf = "postsOfUser.length === 0 ">No posts</p>
    <app-posts-list-item *ngFor = "let post of postsOfUser" [post] = "post"></app-posts-list-item>
</div>


