<div class="loading">
    <app-load-spinner *ngIf = "isLoading"></app-load-spinner>
</div>
<div class="post-detail" *ngIf = "!isLoading ">
    <p class="author">Author: {{ userName }}</p>
    <app-posts-list-item  [post] = post></app-posts-list-item>
    <div class="under">
        <a [routerLink] = "['./comments']">See comments</a>
        <div class="btn-group">
            <button id="edit" (click) = "onEditPost(post.id)">Edit</button>
            <button id="delete" (click) = "onDeletePost(post.id)">Delete</button>
        </div>
    </div>  
</div>
<div class="newPost" *ngIf="editMode">
    <app-new-post [post] = "post" (cancel) = "editMode = false"></app-new-post>
</div>
