<div class="container">
    <div class="intro">
        <h1>Welcome to CompShare!</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Provident obcaecati quam, dolores.</p>
        <div class="btn-group">
            <button type="button"
                    [routerLink] = "['/users']"
                    >Users</button>
            <button type="button"
                    [routerLink] = "['/posts']"
                    >Posts</button>
        </div>
    </div>
</div>