@import '../../style-vars.scss';

.container{
    background-image: url('../../assets/homepage.jpg');
    background-repeat: no-repeat;
    background-position-x: -60vh;
    background-position-y: -30vh;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .intro{
        width: 40vw;
        color: $main-color;
        font-size: 18px;

        h1{
            color: $button-main;
        }

        p{
            font-size: 18px;
            width: 80%;
        }

        .btn-group{
            button{
                padding: 10px 30px;
                background:$highlight;
                color: $main-color;
                text-transform: uppercase;
                font-weight: bold;
                transition: .5s ease;

                &:not(:last-child){
                    margin-right: 20px;
                }

                &:hover{
                    background:darken($highlight, 10%);
                }
            }
        }

        &>*{
            margin-bottom: 25px;
        }
    }
}