<div class="posts-container">
    <app-posts-list-item *ngFor ="let post of visiblePosts" [post] = post></app-posts-list-item>
    <button type="button" title="New Post">+</button>
</div>

<div class="navigation">
    <button type="button" [disabled] = "currentPage === 1"
            (click) = "onBackArrow()"><fa-icon [icon]="arrowLeft"></fa-icon></button>
    <div class="pages"  (click) = "onNavigate($event)">
        <button [ngClass] = "{'activePage' : currentPage == page}"
         *ngFor = "let page of pages"> {{ page }} </button>
    </div>
    <button type="button"  [disabled] = "currentPage === pages.length"
             (click) = "onNextArrow()"><fa-icon [icon]="arrowRight"></fa-icon></button>
</div>