@import "../../../style-vars.scss";

.navigation{
    display: flex;
    width:fit-content;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    button{
        width: 30px;
        height: 30px;
        background: transparent;
        color: $main-color;
        transition: .5s ease;

        &:hover{
            color: lighten($main-color,50%) ;
        }

        &:disabled{
            cursor: not-allowed;
            color: #ddd;
        }

    }

    .activePage{
        color: lighten($main-color,50%) ;
    }
}

.posts-container{
    width:60%;
    margin: 0 auto;
    padding-top: 60px;

    button{
        background: $main-color;
        color: $light-color;
        height:50px;
        width:50px;
        border-radius: 50%;
        font-size: 30px;
        position: fixed;
        bottom: 30px;
        right: 30px;

        &:hover{
            background: lighten($main-color, 10%);
        }
    }
}

.newPost{
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 15;
    background: rgba(0,0,0,0.5);
}